Build started...
Build succeeded.
[15:32:22 WRN] No store type was specified for the decimal property 'ConsultationFee' on entity type 'DoctorProfile'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[15:32:22 WRN] No store type was specified for the decimal property 'ConsultationFee' on entity type 'Appointment'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260306080014_InitialCreate', N'8.0.0');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [Roles] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [Description] nvarchar(max) NOT NULL,
    CONSTRAINT [PK_Roles] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [Users] (
    [Id] int NOT NULL IDENTITY,
    [FullName] nvarchar(max) NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    [PasswordHash] nvarchar(max) NOT NULL,
    [PhoneNumber] nvarchar(max) NOT NULL,
    [RoleId] int NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY ([RoleId]) REFERENCES [Roles] ([Id]) ON DELETE CASCADE
);
GO

CREATE TABLE [RefreshTokens] (
    [Id] int NOT NULL IDENTITY,
    [Token] nvarchar(max) NOT NULL,
    [UserId] int NOT NULL,
    [ExpiresAt] datetime2 NOT NULL,
    [IsRevoked] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_RefreshTokens] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_RefreshTokens_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

CREATE INDEX [IX_RefreshTokens_UserId] ON [RefreshTokens] ([UserId]);
GO

CREATE INDEX [IX_Users_RoleId] ON [Users] ([RoleId]);
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260306082302_AuthTables', N'8.0.0');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260306082357_AddAuthTables', N'8.0.0');
GO

COMMIT;
GO

BEGIN TRANSACTION;
GO

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Description', N'Name') AND [object_id] = OBJECT_ID(N'[Roles]'))
    SET IDENTITY_INSERT [Roles] ON;
INSERT INTO [Roles] ([Id], [Description], [Name])
VALUES (1, N'Full system access', N'SuperAdmin'),
(2, N'Hospital management access', N'HospitalAdmin'),
(3, N'Front desk operations', N'Receptionist'),
(4, N'Medical consultation access', N'Doctor'),
(5, N'Ward management access', N'Nurse'),
(6, N'Pharmacy management access', N'Pharmacist'),
(7, N'Laboratory access', N'LabTechnician'),
(8, N'Billing and finance access', N'FinanceStaff'),
(9, N'Patient mentoring access', N'Mentor'),
(10, N'Patient portal access', N'Patient');
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'Description', N'Name') AND [object_id] = OBJECT_ID(N'[Roles]'))
    SET IDENTITY_INSERT [Roles] OFF;
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [Departments] (
    [Id] int NOT NULL IDENTITY,
    [Name] nvarchar(max) NOT NULL,
    [Description] nvarchar(max) NOT NULL,
    [Icon] nvarchar(max) NOT NULL,
    [FloorNumber] int NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_Departments] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [DoctorProfiles] (
    [Id] int NOT NULL IDENTITY,
    [UserId] int NOT NULL,
    [DepartmentId] int NOT NULL,
    [Specialization] nvarchar(max) NOT NULL,
    [Qualification] nvarchar(max) NOT NULL,
    [ExperienceYears] int NOT NULL,
    [ConsultationFee] decimal(18,2) NOT NULL,
    [AvailableDays] nvarchar(max) NOT NULL,
    [MorningStart] time NOT NULL,
    [MorningEnd] time NOT NULL,
    [HasEveningShift] bit NOT NULL,
    [EveningStart] time NULL,
    [EveningEnd] time NULL,
    [SlotDurationMinutes] int NOT NULL,
    [MaxPatientsPerDay] int NOT NULL,
    [Bio] nvarchar(max) NOT NULL,
    [IsActive] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_DoctorProfiles] PRIMARY KEY ([Id]),
    CONSTRAINT [FK_DoctorProfiles_Departments_DepartmentId] FOREIGN KEY ([DepartmentId]) REFERENCES [Departments] ([Id]) ON DELETE CASCADE,
    CONSTRAINT [FK_DoctorProfiles_Users_UserId] FOREIGN KEY ([UserId]) REFERENCES [Users] ([Id]) ON DELETE CASCADE
);
GO

IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Description', N'FloorNumber', N'Icon', N'IsActive', N'Name') AND [object_id] = OBJECT_ID(N'[Departments]'))
    SET IDENTITY_INSERT [Departments] ON;
IF EXISTS (SELECT * FROM [sys].[identity_columns] WHERE [name] IN (N'Id', N'CreatedAt', N'Description', N'FloorNumber', N'Icon', N'IsActive', N'Name') AND [object_id] = OBJECT_ID(N'[Departments]'))
    SET IDENTITY_INSERT [Departments] OFF;
GO

CREATE INDEX [IX_DoctorProfiles_DepartmentId] ON [DoctorProfiles] ([DepartmentId]);
GO

CREATE INDEX [IX_DoctorProfiles_UserId] ON [DoctorProfiles] ([UserId]);
GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [AppointmentRequests] (
    [Id] int NOT NULL IDENTITY,
    [ReferenceNumber] nvarchar(max) NOT NULL,
    [FullName] nvarchar(max) NOT NULL,
    [Phone] nvarchar(max) NOT NULL,
    [Email] nvarchar(max) NOT NULL,
    [Age] int NOT NULL,
    [Gender] nvarchar(max) NOT NULL,
    [PreferredDepartmentId] int NULL,
    [Symptoms] nvarchar(max) NOT NULL,
    [PreferredDate] datetime2 NULL,
    [VisitType] nvarchar(max) NOT NULL,
    [IsFirstVisit] bit NOT NULL,
    [Status] nvarchar(max) NOT NULL,
    [RejectionReason] nvarchar(max) NULL,
    [ReceptionistNotes] nvarchar(max) NULL,
    [HandledByUserId] int NULL,
    [HandledAt] datetime2 NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_AppointmentRequests] PRIMARY KEY ([Id])
);
GO

CREATE TABLE [Appointments] (
    [Id] int NOT NULL IDENTITY,
    [TokenNumber] nvarchar(max) NOT NULL,
    [PatientUserId] int NOT NULL,
    [DoctorProfileId] int NOT NULL,
    [DepartmentId] int NOT NULL,
    [AppointmentDate] datetime2 NOT NULL,
    [TimeSlot] time NOT NULL,
    [VisitType] nvarchar(max) NOT NULL,
    [Symptoms] nvarchar(max) NOT NULL,
    [IsFirstVisit] bit NOT NULL,
    [Status] nvarchar(max) NOT NULL,
    [ConsultationFee] decimal(18,2) NOT NULL,
    [PaymentStatus] nvarchar(max) NOT NULL,
    [PaymentMode] nvarchar(max) NULL,
    [RazorpayOrderId] nvarchar(max) NULL,
    [RazorpayPaymentId] nvarchar(max) NULL,
    [AppointmentRequestId] int NULL,
    [DoctorNotes] nvarchar(max) NULL,
    [ReceptionistNotes] nvarchar(max) NULL,
    [CreatedAt] datetime2 NOT NULL,
    [UpdatedAt] datetime2 NULL,
    CONSTRAINT [PK_Appointments] PRIMARY KEY ([Id])
);
GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330071Z'
WHERE [Id] = 1;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330082Z'
WHERE [Id] = 2;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330086Z'
WHERE [Id] = 3;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330089Z'
WHERE [Id] = 4;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330092Z'
WHERE [Id] = 5;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330095Z'
WHERE [Id] = 6;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330098Z'
WHERE [Id] = 7;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330101Z'
WHERE [Id] = 8;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330104Z'
WHERE [Id] = 9;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T06:06:14.8330107Z'
WHERE [Id] = 10;
SELECT @@ROWCOUNT;

GO


COMMIT;
GO

BEGIN TRANSACTION;
GO

CREATE TABLE [OtpRecords] (
    [Id] int NOT NULL IDENTITY,
    [PhoneNumber] nvarchar(max) NOT NULL,
    [OtpCode] nvarchar(max) NOT NULL,
    [ExpiryTime] datetime2 NOT NULL,
    [IsUsed] bit NOT NULL,
    [CreatedAt] datetime2 NOT NULL,
    CONSTRAINT [PK_OtpRecords] PRIMARY KEY ([Id])
);
GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365792Z'
WHERE [Id] = 1;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365798Z'
WHERE [Id] = 2;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365800Z'
WHERE [Id] = 3;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365802Z'
WHERE [Id] = 4;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365803Z'
WHERE [Id] = 5;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365805Z'
WHERE [Id] = 6;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365807Z'
WHERE [Id] = 7;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365808Z'
WHERE [Id] = 8;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365810Z'
WHERE [Id] = 9;
SELECT @@ROWCOUNT;

GO

UPDATE [Departments] SET [CreatedAt] = '2026-03-08T09:59:28.2365811Z'
WHERE [Id] = 10;
SELECT @@ROWCOUNT;

GO


COMMIT;
GO


